@font-face {
  font-family: 'Pompadour';
  src: url("../fonts/pompadour.otf") format("opentype"); }

@font-face {
  font-family: 'Cooper Black';
  src: url(../fonts/cooper-black.otf) format("opentype"); }

body {
  background-color: #f9f9f9;
  font-family: "Pompadour", sans-serif;
  color: #020202;
  font-size: 1em;
  text-align: center; }

h1 {
  font-family: "Cooper Black", serif;
  color: #c98b5b;
  font-size: 5em; }

nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 2em; }

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #020202; }
  nav ul li a:hover, nav ul li a:focus {
    color: #e7a1a3; }

blockquote {
  font-style: italic;
  color: #465553; }

p {
  text-transform: uppercase; }

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 56em) [main-end] minmax(1em, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 56em) [main-end] minmax(1em, 1fr) [full-end];
  grid-gap: 1em; }

section {
  grid-column: main; }

figure {
  grid-column: full; }

body {
  padding: 2em 0; }

article > * {
  background-color: #f9f9f9;
  padding: 2em; }

figure {
  text-align: center; }

img {
  max-width: 100%; }

header,
footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2; }
