@font-face {
  font-family: 'Pompadour';
  src: url("../fonts/pompadour.otf") format("opentype"); }

@font-face {
  font-family: 'Cooper Black';
  src: url(../fonts/cooper-black.otf) format("opentype"); }

body {
  background-color: #f9f9f9;
  font-family: "Pompadour", sans-serif;
  color: #020202;
  font-size: 2em; }

h1 {
  font-family: "Cooper Black", serif;
  color: #c98b5b;
  font-size: 3em; }

nav ul li {
  list-style-type: none;
  display: inline; }

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #020202; }
  nav ul li a:hover, nav ul li a:focus {
    color: #f3d0d1; }
