@font-face {
  font-family: 'Pompadour';
  src: url('../fonts/pompadour.otf') format('opentype');
}

@font-face {
  font-family: 'Cooper Black';
  src: url(../fonts/cooper-black.otf) format('opentype');
}

$pompadour: 'Pompadour', sans-serif;
$cooper-black: 'Cooper Black', serif;
$white: #f9f9f9;
$pink: #e7a1a3;
$sienna: #c98b5b;
$grey: #465553;
$black: #020202;

body {
  background-color: $white;
  font-family: $pompadour;
  color: $black;
  font-size: 1em;
  text-align: center;
}

h1 {
  font-family: $cooper-black;
  color: $sienna;
  font-size: 5em;
}

nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 2em;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  &:hover,
  &:focus {
    color: $pink;
  }
}

blockquote {
  font-style: italic;
  color: $grey;
}

p {
  text-transform: uppercase;
}

article {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 56em) [main-end]
    minmax(1em, 1fr) [full-end];
  grid-gap: 1em;
}

section {
  grid-column: main;
}

figure {
  grid-column: full;
}

body {
  padding: 2em 0;
}

article > * {
  background-color: $white;
  padding: 2em;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
}

header,
footer {
  grid-column: 1 / span 2;
}
